@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;

}

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fd3932;
    overflow: hidden;
}
h2{
    font-size: 7vw;
    color: #fff;
    line-height: 0.6em;
    z-index: 1000;
    text-align: center;
    font-weight: 900;
}
h2 span{
    font-size: 0.3em;
    letter-spacing: 0.2em;
    font-weight: 400;
    text-transform: uppercase;

}
.heart{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fd3932;
    transform: rotate(45deg);
    box-shadow: 20px 20px 40px rgba(0,0,0,0.2);
}
.heart::before{
    content: '';
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fd3932;
    border-radius: 50%;
    box-shadow: 0 -20px 20px rgba(0,0,0,0.1);
}
.heart::after{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: #fd3932;
    border-radius: 50%;
    box-shadow: 0 -20px 20px rgba(0,0,0,0.1);
}